* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #76298c;
    height: 50px;
    width: 100%;
    position: fixed;
    align-items: center;
    box-shadow: 0 2px 30px #aaa;
    z-index: 2;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    opacity: 0.8;
}

.nav-link:hover {
    font-size: 22px;
    opacity: 1;
}

/** welcome section **/

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

#welcome-img {
    height: 300px;
    width: 300px;
    margin: auto auto 5px;
    border-radius: 50%;
    border: #ccc solid 1px;
    box-shadow: 2px 2px 20px #ddd;
}

h1 {
    margin: 20px auto auto;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    color: #555;
}

/** projects section **/

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 2px 20px #aaa;
    border-bottom: #aaa solid 0.5px;
}

#proj-sec {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#p-proj {
    margin: 2vh auto 2%;
}

.project-tile {
    margin: auto;
    height: 25vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    border: #aaa solid 1px;
    box-shadow: 5px 5px 20px #aaa;
}

.project-tile:hover {
    box-shadow: 2px 2px 20px #000;
}

.img-proj {
    height: 80%;
    width: 100%;
    border-bottom: #bbb solid 0.5px;
    opacity: 0.8;
    z-index: 1;
}

.img-proj:hover {
    opacity: 1;
}

.proj-link {
    text-decoration: none;
    color: #333;
    font-weight: 300;
    align-self: center;
    font-size: 1.2vw;
    margin: auto;
}

/** contact section **/

#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p {
    margin: auto auto 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: italic;
    color: #333;
    text-align: center;
}

#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10% auto auto;
    height: 11vw;
    width: 100%;;
}

.contact {
    height: 11vw;
    width: 11vw;
    margin: auto;
    border: #ccc solid 1px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.contact:hover {
    border-color: #000;
}

#profile-link,
#fcc-link,
#f-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#f-link {
    height: 85%;
    width: 85%;
}

.con-links {
    height: 70%;
    width: 70%;
    margin: auto;
    align-self: center;
}

footer {
    height: 10vh;
    width: 100%;
    box-shadow: 0 -2px 30px #aaa;
    background-color: #000;
    color: #ddd;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: #76298c solid 0.5px;
}

/** media query stuff **/

@media only screen and (max-width: 726px) {
    .nav-link {
        font-size: 16px;
    }
    
    .nav-link:hover {
        font-size: 18px;
    }
    
    #welcome-img {
    height: 200px;
    width: 200px;
    }
    
    h1 {
        font-size: 20px;
        font-weight: 400;
    }
    
    #p-proj {
        font-size: 16px;
        padding-top: 50px;
    }
    
    #projects {
        height: auto;
    }
    
    #proj-sec {
        flex-direction: column;
        margin: 5% auto;
        justify-content: center;
        align-content: center;
    }
    
    .project-tile {
        margin: 20px auto;
        height: 38vh;
        width: 80vw;
    }
    
    .proj-link {
        font-size: 18px;
        font-weight: 400;
    }
    
    .p-con {
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 400;
    }
    
    .contact {
        height: 15vw;
        width: 15vw;
    }
}