* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif; background-color: #080f31;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    height: 50px;
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 2;
}

.nav-link {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    opacity: 0.8;
}

.nav-link:hover {
    font-weight: bolder;
}

/** welcome section **/

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 300;
    font-size: 35px;
    color: #2196f3;
    margin: auto;
}

/** projects section **/

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    border-bottom: #aaa solid 0.5px;
    background-color: #fff;
}

#proj-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    margin: auto;
    background-color: #fff;
}

#p-proj {
    margin: 2vh auto 2%;
    color: #000;
    background-color: #fff;
}

.project-tile {
    display: flex;
    width: 20%;
    flex-flow: row wrap;
    margin: 5%;
    border: #aaa solid 1px;
}

.project-tile:hover {
    box-shadow: 2px 2px 20px #000;
}

.img-proj {
    max-height: auto;
    max-width: 100%;
    border-bottom: #bbb solid 0.5px;
    opacity: 0.8;
    z-index: 1;
}

.img-proj:hover {
    opacity: 1;
}

.proj-link {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    align-self: center;
    font-size: 1.2vw;
    margin: auto;
    height: 2.4vw;
    line-height: 2.4vw;
}

/** contact section **/

#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p {
    margin: auto auto 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    text-align: center;
}

#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10% auto auto;
    height: 11vw;
    width: 100%;;
}

.contact {
    height: 11vw;
    width: 11vw;
    margin: auto;
    border: #fff solid 1px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.contact:hover {
    border: solid 4px #fff;
}

#profile-link,
#fcc-link,
#f-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    
}

#f-link {
    height: 85%;
    width: 85%;
}

.con-links {
    height: 70%;
    width: 70%;
    margin: auto;
    align-self: center;
    background-color: #fff;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #000;
    color: #ddd;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: #76298c solid 0.5px;
}

/** media query stuff **/

@media only screen and (max-width: 726px) {
    .nav-link {
        font-size: 16px;
    }
    
    .nav-link:hover {
        font-size: 18px;
    }
    
    #welcome-img {
    height: 200px;
    width: 200px;
    }
    
    h1 {
        font-size: 6vw;
        font-weight: 400;
    }
    
    #p-proj {
        font-size: 16px;
        padding-top: 50px;
    }
    
    #projects {
        height: auto;
    }
    
    #proj-sec {
        flex-direction: column;
        margin: 5% auto;
        justify-content: center;
        align-content: center;
    }
    
    .project-tile {
        margin: 20px auto;
        height: 48vh;
        width: 60vw;
        display: flex;
    }
    
    .img-proj {
        width: 100%;
        height: 90%;
    }
    
    .proj-link {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .p-con {
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 400;
    }
    
    .contact {
        height: 15vw;
        width: 15vw;
    }
}